<header>
  <a href="/newpost"><img
      class="icon-new-post"
      src="/uploads/images/new_post-icon.svg"
      alt="icon"
    />
  </a>
  <a href="https://y52lz4-3010.csb.app/"><h1>Account</h1></a>
  <a href="/login"><img
      class="icon-user"
      src="/uploads/images/user-icon.png"
      alt="user"
    /></a>
</header>

<div class="account-grid">
<div class="account-willkommen">
    <p>Hallo, {{user.vorname}}</p>
    <p>Deine E-Mail ist: {{user.email}}</p>
</div>
<div class="account-information">
<form action="/account/update-email" method="POST">
  <label for="email"></label>
  <input type="email" id="email" name="email" placeholder="Neue E-Mail Adresse" required>
  <button type="submit">Ändern</button>
</form>
</div>
</div>
<div class="account-restaurant-like">
{{#if like}}
{{#each like}}
<a href="/post/{{id}}">
<container class="restaurant-grid">
    <h3 class="title-restaurant">{{name}}</h3>
    <img src="/uploads/{{bild}}" width="100%" height="auto" alt="bildessen" class="bild-post">
</container>
</a>
{{/each}}
{{else}}
</div>
<div>
<p>no posts</p>
{{/if}}
</div>

<div>
{{>footer}}
</div>